/* 
    Document   : pdfpreview
    Created on : 13-may-2011, 11:52:40
    Author     : juanjo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.pdfpreview-description {
  display: block;
  clear: both;
}
